{% load i18n %}
<div class="server" id="rpc">
    <fieldset>
	<legend>{% trans "Server Status" %}</legend>
        <div class="setting">
	    <div class="label">{% trans "RPC Server is running" %}</div>
	    <span class="value" id="rpc_running">{{ rpc.running|yesno:_("yes,no") }}</span>
	</div>
	<div class="setting">
	    <div class="label">{% trans "Uploaders Connected" %}</div>
	    <span class="value" id="rpc_uploadres">{{ rpc.uploaders }}</span>
	</div>
	<div class="setting">
	    <div class="label">{% trans "Scanners Connected" %}</div>
	    <span class="value" id="rpc_scanners">{{ rpc.scanners }}</span>
	</div>
	{% if rpc.error %}
	    <div class="setting error" id="error">
		<div class="label">{% trans "Error Message" %}</div>
		<span class="value" id="error">{{ rpc.error }}</span>
	    </div>
	{% endif %}
	<div class="nav_button_grey" style="width: 20em; color: #E4E4E4">
	    <div class="inner" style="height: 2em;">
                <a id="reset-server" href="../rpc/server/restart" >{% trans "Reset RPC Server" %}</a>
            </div>
        </div>
    </fieldset>
</div>