{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}><head>
<title>OpenProximity 2.0 {% block title %}{% endblock %}</title>
{% block style %}
<style type="text/css">
{% include "op/base.css" %}
</style>
{% endblock %}

<script type="text/javascript">
    function popitup(url, format){
	if (format == null){
	    format='height=200,width=800'
	}
	newwindow=window.open(url,'name', format)
	if (window.focus){ 
	    newwindow.focus() 
	}
	return False;
    }
</script>

{% block extrahead %}{% endblock %}
</head>
<body id="{% block bodyid %}page{% endblock %}">
<div id="wrapper" class="down">
<div id="nav">
<div id="logo">&nbsp;</div>
<div id="navwrapper" class="up">
    {% block navbar %}
	<a href="/" id="nav_index">{% trans "Index" %}</a>
	<a href="javascript: popitup('/last-seen/')" id="nav_index">{% trans "Last Seen" %}</a>
	{% if settings.debug %}
	    <a href="/data/" id="nav_data">{% trans "Data Browse" %}</a>
	{% endif %}
	<a href="/admin/openproximity/" id="nav_admin">{% trans "Admin Site" %}</a>
	{% if settings.debug %}
	    <a href="/bluez/" id="nav_debug">{% trans "Debug" %}</a>
	{% endif %}
	{% if settings.translate %}
	    <a href="/admin/translate/" id="nav_trans">{% trans "Translate" %}</a>
	{% endif %}
    {% endblock%}
</div>
</div>
<div id="header">{% block header %}{% endblock %}</div>
<div id="content" class="up">
{% block content %}{% endblock %}
</div>
</div>
<div id="footer" class="down">
    {% block footer %}{% endblock %}
<p><a href="http://code.google.com/p/proximitymarketing/">OpenProximity 2.0</a> Powered by <a href="http://www.aircable.net">AIRcable.net</a></p>
</div>
</body>
</html>
