{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>

<title>OpenProximity 2.0 {% block title %}{% endblock %}</title>

{% block style %}
<style type="text/css">
{% include "op/base.css" %}
</style>
{% endblock %}

<script type="text/javascript" src="/site_media/MochiKit.js"></script>
<script type="text/javascript">
    var roundedCornersOnLoad = function(){
	roundClass(null, "wrapper", null);
	roundClass(null, 'nav_button');
	roundClass(null, 'userinfo', {corners: 'bl br'});
	roundClass(null, 'content-main', null);
	roundClass(null, 'footer', null);
	roundClass(null, 'btn', {bgColor: "#e4e4e4", color: "#A6D5E9"});
	roundClass(null, 'rounded-white', {bgColor: "#e4e4e4", color: "white"});
    }
    addLoadEvent(roundedCornersOnLoad); 
</script>
{% block extrahead %}{% endblock %}
</head>

<body id="{% block bodyid %}page{% endblock %}">
<div class="content">
{% block content %}{% endblock %}
</div>
<div class="footer"><div class="inner">
    {% block footer %}{% endblock %}
<p><a href="javascript:%20self.close()">{% trans "Close this Window"%}</a></p>
<p><a href="http://code.google.com/p/proximitymarketing/">OpenProximity 2.0</a> Powered by <a href="http://www.aircable.net">AIRcable.net</a></p>
</div></div>
</body>
</html>
