{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>

<title>OpenProximity 2.0 {% block title %}{% endblock %}</title>

{% block style %}
<style type="text/css">
{% include "op/base.css" %}
</style>
{% endblock %}

{% block extrahead %}{% endblock %}
</head>

<body id="{% block bodyid %}page{% endblock %}">
<div id="wrapper" class="down">
{% block content %}{% endblock %}
</div>
<div id="footer" class="down">
    {% block footer %}{% endblock %}
<p><a href="javascript: self.close()">{% trans "Close this Window"%}</a></p>
<p><a href="http://code.google.com/p/proximitymarketing/">OpenProximity 2.0</a> Powered by <a href="http://www.aircable.net">AIRcable.net</a></p>
</div>
</body>
</html>
