{% load i18n openproximity %}
{% settings %}
{% plugins %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}><head>
<title>OpenProximity 2.0 {% block title %}{% endblock %}</title>
{% block style %}
<style type="text/css">
{% include "op/base.css" %}
</style>
{% endblock %}

<script type="text/javascript">
    function popitup(url, format){
	if (format == null){
	    format='height=200,width=800'
	}
	newwindow=window.open(url,'name', format)
	if (window.focus){ 
	    newwindow.focus() 
	}
	return False;
    }
</script>
<script type="text/javascript" src="/site_media/MochiKit.js"></script>
<script type="text/javascript">
var roundedCornersOnLoad = function(){
    roundClass(null, "wrapper", null);
    roundClass(null, 'nav_button');
    roundClass(null, 'userinfo', {corners: 'bl br'});
    roundClass(null, 'content-main', null);
    roundClass(null, 'footer', null);
    roundClass(null, 'btn', {bgColor: "#e4e4e4", color: "#A6D5E9"});
    roundClass(null, 'rounded-white', {bgColor: "#e4e4e4", color: "white"});
}
addLoadEvent(roundedCornersOnLoad);
</script>

{% block extrahead %}{% endblock %}
</head>
<body id="{% block bodyid %}page{% endblock %}">

    {% include "op/imports/userinfo.html" %} <!-- login information -->

    <div id="navigation" class="navigation"> 
	<div class="logo">&nbsp;</div>
        {% block navbar %}
	    {% createNavButton "/" "nav_index" _("Index") "height: 55px"%}
	    {% createNavButton "javascript: popitup('/last-seen/')" "nav_seen" _("Last Seen") "height: 55px"%}
	    {% if settings.debug %}
		{% createNavButton "/data/" "nav_data" _("Data Browse") "height: 55px"%}
	    {% endif %}
	    {% createNavButton "/admin/openproximity/" "nav_admin" _("Admin Site") "height: 55px"%}
	    {% if settings.debug %}
		{% createNavButton "/bluez/" "nav_debug" _("Debug") "height: 55px"%}
	    {% endif %}
	    {% if settings.translate %}
		{% createNavButton "/admin/translate/" "nav_trans" _("Translate") "height: 55px"%}
	    {% endif %}
	{% endblock%}
        {% if plugins %}
	    <div id="plugins" class="nav_button" style="width: 220px">
		<div style="height: 55px"><!-- stupid trick to get mochikit doing round corners right -->
		{% trans "PLUGINS" %}
		<br>
		<select onchange="window.location.href=this.value" id="plugins_list">
        	    <option value="/">----------------------</option>
        	    {% for plugin in plugins %}
        		<option value="/{{ plugin.provides.urls.0 }}" >{{ plugin.name }}</option>
        	    {% endfor %}
		</select>
		</div>
	    </div>
	{% endif %}
    </div>

    <div class="{% block content_class %}content{% endblock %}"> <!-- user content -->
	{% block content %}{% endblock %}
    </div>
    
    <div class="footer">
	<div class="inner"> <!-- little trick for accurate corner rounding -->
	    {% block footer %}{% endblock %}
	    <a href="http://code.google.com/p/proximitymarketing/">OpenProximity 2.0</a> Powered by <a href="http://www.aircable.net">AIRcable.net</a>
	</div>
    </div>
    <br>
</body>
</html>
{% load i18n openproximity %}
{% settings %}
{% plugins %}
