{% extends "op/base.html" %}
{% load i18n %}
{% block title %}| {% trans "Configure Dongle" %}{% endblock %}
{% block content %}
{% if errors %}
<h1>{% trans "Errors while configuring" %}</h1>
<table id="error">
    {% for err in errors %}
	<tr>
	    <td>{{ err }}</td>
	</tr>
    {% endfor %}
</table>
{% endif %}
<form action="." method="post">
    <table>
	<tr>
	    <td>{% trans "Address" %}</td>
	    <td><input type="text" name="address" value="{{ address }}" ></td>
	</tr>
	<tr>
	    <td>{% trans "Visible Name" %}</td>
	    <td><input type="text" name="name" value="{{ name }}" ></td>
	</tr>
	<tr>
	    <td>{% trans "Use as scanner" %}</td>
	    <td><input type="checkbox" name="scan" value="{{ scanner }}" ></td>
	</tr>
	<tr>
	    <td>{% trans "Scanner priority" %}</td>
	    <td><input type="text" name="scan_pri" value="{{ scanner_pri }}" ></td>
	</tr>
	<tr>
	    <td>{% trans "Use as uploader" %}</td>
	    <td><input type="checkbox" name="upload" value="{{ uploader }}"></td>
	</tr>
	<tr>
	    <td>{% trans "Maximum Connections" %}</td>
	    <td><input type="text" name="upload_max" value="{{ uploader_max }}" ></td>
	</tr>
	{% if messages %}
	    {% for message in messages %}
	    <tr><td>{{ message }}</td></tr>
	    {% endfor %}
	{% endif %}
	<tr>
	    <td><input type="submit" value="{% trans "Configure" %}"></td>
	</tr>
    </table>
</form>
{% endblock %}
