{% extends "op/base.html" %}

{% load i18n microblog %}
{% load openproximity %}
{% settings %}

{% block extrahead %}
{% comment %} field line content refresh 'amount to show' 'first read' {% endcomment %}
{% Tweet 'messages' 'fields.time' './microblog' 'post.fields.time.split(\' \')[1] + " " + post.fields.content + "<br/>"' 5 15 %}
{% endblock %}

{% block bodyid %}main-page{% endblock %}

{% block content %}
    <div id="new_version_top" style="display: none" class="content-main"></div>
    
    <fieldset style="margin: 0px; padding: 0px; border: none">
	    <div style="width: 50%; float: left;" >
	        <div class="content-main" style="float:bottom;"><div class="inner">{% include "op/imports/server_stats.html" %}</div></div>
	        <div class="content-main" style="float:bottom;"><div class="inner">{% include "op/imports/server_status.html" %}</div></div>
        </div>
        <div style="width: 49%; float:right;">
	        <fieldset style="margin: 0px; padding: 0px; border: none">
	            <div class="log content-main" style="float:left; width: {% if settings.twitter %}70%{% else %}100%{% endif %}">
	                <div class="inner">
	                    <h1>{% trans "Server Log" %}</h1>
	                    <div id="messages"></div>
	                </div>
	            </div>
	            
	            {% if settings.twitter %}
	                <div  style="float:right; width: 29%">
	                    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
	                    <script>
	                        new TWTR.Widget({
	                            version: 2, type: 'profile', rpp: 5, 
	                            interval: 6000, width: '29%', height: 335,
	                            features: {
	                              scrollbar: true, loop: false, live: true,
	                              hashtags: true, timestamp: true, avatars: false,
	                              behavior: 'all'
	                            }
	                        }).render().setUser('aircable_manuel').start();
	                    </script>
	                </div>
	            {% endif %}
	        </fieldset>
	    </div>
    </fieldset>
    
    <div class="content-main" style="float: none">
	    <div class="inner">
	        {% include "op/imports/known_dongles.html" %}
	    </div>
    </div>
    
    <div class="content-main" style="float: none">
	    <div class="inner">
	        {% include "op/imports/campaigns.html" %}
	    </div>
    </div>
{% endblock %}

{% block footer %}
    <div id='version_foot'></div>
    <script type="text/javascript" src="http://proximitymarketing.googlecode.com/svn/trunk/openproximity2/latest-version.js"></script>
{% endblock %}

