{% extends "op/base.html" %}

{% load i18n microblog %}

{% block extrahead %}
<script type="text/javascript">
	function update_field(el, val){
		getElement(el).innerHTML=val
	}
    
	function update_field_complex(el, id, val){
		getElement(el+'_'+id).innerHTML=val
	}
	
	function create_td(id, content){
		td = TD()
		td.id = id
		td.innerHTML = content
		return td
	}

	function update_stats(){
		var defer;
		 
		defer = loadJSONDoc('rpc/stats');    

		var gotStats=function(stats){
		    var td;
		    
		    update_field('stats_seen', stats.seen.total)
		    
		    for (var addr in stats.seen.perdongle){
			var val = stats.seen.perdongle[addr]
			update_field_complex('stats_count', val.address, val.count)
		    }
		    
		    update_field('stats_valid', stats.valid)
		    update_field('stats_tries', stats.tries)
		    update_field('stats_timeout', stats.timeout)
		    update_field('stats_rejected', stats.rejected)
		    update_field('stats_accepted', stats.accepted)
		};
	
		var statsFetchFailed = function(err){
		    /*alert(err)*/
		}
		defer.addCallbacks(gotStats, statsFetchFailed);
	}

	function update_rpc_info(){
		var defer;

		defer = loadJSONDoc('rpc/info');

		var gotInfo=function(info){
			update_field('rpc_running', info.running)
			update_field('rpc_uploadres', info.uploaders)
			update_field('rpc_scanners', info.scanners)

			var i;
			while ( true ){
				i = getElement('rpc_dongles')
				if (i == null) break;
				
				removeElement(i) 
			}

			parent = getElement('known')

			for (var addr in info.dongles){
				var val = info.dongles[addr]
				tr = parent.insertRow(parent.rows.length)
				tr.id="rpc_dongles"
				tr.appendChild(create_td('dongle_address', val.address))
				tr.appendChild(create_td('dongle_scan', val.isScanner))
				tr.appendChild(create_td('dongle_scan_enabled', val.scan_enabled))
				tr.appendChild(create_td('dongle_scan_priority', val.scan_pri))
				tr.appendChild(create_td('dongle_upload', val.isUploader))
				tr.appendChild(create_td('dongle_upload_enabled', val.upload_enabled))
				tr.appendChild(create_td('dongle_upload_maxconn', val.max_conn))
				tr.appendChild(create_td('dongle_setup', '<a href="configure/dongle/' + val.address +'">{% trans "Configure" %}</a>'))
			}
			
		};
	
		var infoFetchFailed = function(err){
			/*alert(err)*/
		}
		defer.addCallbacks(gotInfo, infoFetchFailed);
	}

setInterval("update_stats()", 20000) <!-- update each 20 seconds -->
setInterval("update_rpc_info()", 30000) <!-- update each 30 seconds -->

function check_version(){
    var reply=compare_version("{{version.current}}");
    var foot =$('version_foot');
    foot.innerHTML ="<p>{% trans "server version" %}: <b>" + reply.latest + "</b> {% trans "running version" %}: <b>{{ version.current }}</b></p>";

    if ( reply.new_available == true ){
	var top = $('new_version_top');
	top.innerHTML="<h1><a href=\"http://code.google.com/p/proximitymarketing/\">{% trans "There's a new version available" %}</a></h1>";
	top.innerHTML+="<p>{% trans "New Version" %}: " + reply.latest + "</p>";
        top.innerHTML+="<p>{% trans "Your Version" %}: {{ version.current }}</p>";
        top.style.display="";
    }
}

addLoadEvent(update_rpc_info);
addLoadEvent(check_version);
</script>

{% comment %} field line content refresh 'amount to show' 'first read' {% endcomment %}
{% Tweet 'messages' 'fields.time' './microblog' 'post.fields.time.split(\' \')[1] + " " + post.fields.content + "<br>"' 5 17 %}

{% endblock %}

{% block content %}
    <div id="new_version_top" style="display: none" class="content-main"></div>
    
    <div style="height: 400px;">
	<div style="position: absolute; top: 0; left: 0; width: 50%" >
	    <div class="content-main"><div class="inner">{% include "op/imports/server_stats.html" %}</div></div>
	    <div class="content-main"><div class="inner">{% include "op/imports/server_status.html" %}</div></div>
	</div>
	<div style="position: absolute; top: 0; right: 0; width: 49%;">
	    <div class="log content-main">
		<div class="inner">
		    <h1>{% trans "Server Log" %}</h1>
		    <div id="messages"></div>
		</div>
	    </div>
	</div>
    </div>
    <div class="content-main">
	<div class="inner">
	{% include "op/imports/known_dongles.html" %}
	</div>
    </div>
    <div class="content-main">
	<div class="inner">
	{% include "op/imports/campaigns.html" %}
	</div>
    </div>
{% endblock %}

{% block footer %}
    <div id='version_foot'></div>
    <script type="text/javascript" src="http://proximitymarketing.googlecode.com/svn/trunk/openproximity2/latest-version.js"></script>
{% endblock %}
