{% extends "op/base.html" %}

{% load i18n microblog %}

{% block extrahead %}
<script type="text/javascript" src="http://proximitymarketing.googlecode.com/svn/trunk/openproximity2/latest-version.js"></script>
<script type="text/javascript" src="/site_media/MochiKit.js"></script>

<script type="text/javascript">
	function update_field(el, val){
		getElement(el).innerHTML=val
	}
    
	function update_field_complex(el, id, val){
		getElement(el+'_'+id).innerHTML=val
	}
	
	function create_td(id, content){
		td = TD()
		td.id = id
		td.innerHTML = content
		return td
	}

	function update_stats(){
		var defer;
		 
		defer = loadJSONDoc('rpc/stats');    

		var gotStats=function(stats){
		    var td;
		    
		    update_field('stats_seen', stats.seen.total)
		    
		    for (var addr in stats.seen.perdongle){
			var val = stats.seen.perdongle[addr]
			update_field_complex('stats_count', val.address, val.count)
		    }
		    
		    update_field('stats_valid', stats.valid)
		    update_field('stats_tries', stats.tries)
		    update_field('stats_timeout', stats.timeout)
		    update_field('stats_rejected', stats.rejected)
		    update_field('stats_accepted', stats.accepted)
		};
	
		var statsFetchFailed = function(err){
		    /*alert(err)*/
		}
		defer.addCallbacks(gotStats, statsFetchFailed);
	}

	function update_rpc_info(){
		var defer;

		defer = loadJSONDoc('rpc/info');

		var gotInfo=function(info){
			update_field('rpc_running', info.running)
			update_field('rpc_uploadres', info.uploaders)
			update_field('rpc_scanners', info.scanners)

			var i;
			while ( true ){
				i = getElement('rpc_dongles')
				if (i == null) break;
				
				removeElement(i) 
			}

			parent = getElement('known')

			for (var addr in info.dongles){
				var val = info.dongles[addr]
				tr = parent.insertRow(parent.rows.length)
				tr.id="rpc_dongles"
				tr.appendChild(create_td('dongle_address', val.address))
				tr.appendChild(create_td('dongle_scan', val.isScanner))
				tr.appendChild(create_td('dongle_scan_enabled', val.scan_enabled))
				tr.appendChild(create_td('dongle_scan_priority', val.scan_pri))
				tr.appendChild(create_td('dongle_upload', val.isUploader))
				tr.appendChild(create_td('dongle_upload_enabled', val.upload_enabled))
				tr.appendChild(create_td('dongle_upload_maxconn', val.max_conn))
				tr.appendChild(create_td('dongle_setup', '<a href="configure/dongle/' + val.address +'" class="btn">{% trans "Configure" %}</a>'))
			}
		};
	
		var infoFetchFailed = function(err){
			/*alert(err)*/
		}
		defer.addCallbacks(gotInfo, infoFetchFailed);
	}

setInterval("update_stats()", 20000) <!-- update each 20 seconds -->
setInterval("update_rpc_info()", 30000) <!-- update each 30 seconds -->

</script>

{% comment %} field line content refresh 'amount to show' 'first read' {% endcomment %}
{% Tweet 'messages' 'fields.time' './microblog' 'post.fields.time.split(\' \')[1] + " " + post.fields.content + "<br>"' 5 17 %}

{% endblock %}

{% block content %}
<script type="text/javascript">
    var reply=compare_version("{{version.current}}");
    if ( reply.new_available ){
        document.write("<h1><a href=\"http://code.google.com/p/proximitymarketing/\">{% trans "There's a new version available" %}</a></h1>")
        document.write("<p>{% trans "New Version" %}: ")
        document.write(reply.latest)
        document.write("</p><p>{% trans "Your Version" %}: {{ version.current }}</p>")
    }
</script>
					    
<table width="100%">
    <colgroup span="2" width="50%">
    <tr>
       <td>
       <h1>{% trans "Server Statistics" %}</h1>
	<table id="stats">
	    <tr>
		<td>{% trans "Seen" %}</td>
		<td id="stats_seen">{{ stats.seen.total }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Per Dongle" %}</td>
		<td>
		    <table id="stats_per_dongle">
			{% for d in stats.seen.perdongle %}
			    <tr>
				<td>{{ d.address}}</td>
				<td id="stats_count_{{ d.address }}">{{ d.count }}</td>
			    </tr>
			{% endfor %}
		    </table>
		</td>
	    <tr>
		<td>{% trans "Valid Obex" %}</td>
		<td id="stats_valid">{{ stats.valid }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Tried" %}</td>
		<td id="stats_tries">{{ stats.tries }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Timeout" %}</td>
		<td id="stats_timeout">{{ stats.timeout }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Rejected" %}</td>
		<td id="stats_rejected">{{ stats.rejected }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Accepted" %}</td>
		<td id="stats_accepted">{{ stats.accepted }}</td>
	    <tr>
	    <tr>
		<td><a href="stats/restart" class="btn">{% trans "Reset Statistics" %}</a></td>
	    </tr>
    
	    {% if stats.error %}
		<tr id="error">
		    <td>{% trans "Error Message" %}</td>
		    <td>{{ stats.error }}</td>
		</tr>
	    {% endif %}
	</table>
	<h1>{% trans "Server Status" %}</h1>
	<table id="rpc">
	    <tr>
		<td>{% trans "RPC Server is running" %}</td>
		<td id="rpc_running">{{ rpc.running|yesno:_("yes,no") }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Uploaders Connected" %}</td>
		<td id="rpc_uploadres">{{ rpc.uploaders }}</td>
	    </tr>
	    <tr>
		<td>{% trans "Scanners Connected" %}</td>
		<td id="rpc_scanners">{{ rpc.scanners }}</td>
	    </tr>
	    {% if rpc.error %}
		    <tr id="error">
			<td>{% trans "Error Message" %}</td>
			<td>{{ rpc.error }}</td>
		    </tr>
	    {% endif %}
	    <tr>
		<td><a href="../rpc/restart" class="btn">{% trans "Restart RPC Server" %}</a></td>
		<td></td>
		<td></td>
	    </tr>
	</table>

       </td>
       <td valign="top">
	    <h1>{% trans "Server Log" %}</h1>
	    <div id="messages"></div>
	</td>
</table>


<h1>{% trans "Known Dongles" %}</h1>
<table id="known" class="known">
    <tr>
	<td>{% trans "Address" %}</td>
	<td>{% trans "Is Scanner" %}</td>
	<td>{% trans "Scanner Enabled" %}</td>
	<td>{% trans "Scanner Priority" %}</td>
	<td>{% trans "Is Uploader" %}</td>
	<td>{% trans "Uploader Enabled" %}</td>	
	<td>{% trans "Max Connections" %}</td>
    </tr>
</table>

<h1>{% trans "Marketing Campaigns" %}</h1>
{% for camp in camps %}
    <h2><a href="admin/openproximity/marketingcampaign/{{camp.pk}}/" class="btn">{{ camp.name }}</a></h2>
    <table id="camp">
    <tr>
	<td>{% trans "Enabled" %}</td>
	<td>{{ camp.enabled|yesno:_("yes,no") }}
    </tr>
    <tr>
	<td>{% trans "Service" %}</td>
	<td>{{ camp.get_service_display }}</td>
    </tr>
    <tr>
	<td>{% trans "Start" %}</td>
	<td>{{ camp.start }}</td>
    </tr>
    <tr>
	<td>{% trans "End" %}</td>
	<td>{{ camp.end }}</td>
    </tr>
    <tr>
	<td>{% trans "Name Filter" %}</td>
	<td>{{ camp.name_filter }}</td>
    </tr>
    <tr>
	<td>{% trans "Address Filter" %}</td>
	<td>{{ camp.addr_filter }}</td>
    </tr>
    <tr>
	<td>{% trans "DevClass Filter" %}</td>
	<td>{{ camp.devclass_filter }}</td>
    </tr>
    {% for file in camp.campaignfile_set.all %}
    <tr>
	<td>{% trans "Serving File" %}</td>
	<td>{{ file.file.name }}</td>
	<td>{% trans "Chances" %}</td>
	<td>{{ file.chance }}</td>
	<td><a href="file/grab/{{file.file.name}}" class="btn">{% trans "See File" %}</a></td>
    </tr>
    {% endfor %}
    </table>
    

{% endfor %} <!-- camps -->

{% endblock %}
{% block footer %}
<script type="text/javascript">
	var reply=compare_version("{{version.current}}");
	document.write("<p>server version: <b>")
	document.write(reply.latest)
	document.write("</b> running version: <b>{{ version.current }}</b></p>")

	update_rpc_info()
</script>
{% endblock %}
