{% extends "op/base.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="/site_media/lib/jquery.js"></script>
<script type="text/javascript" src="/site_media/jquery.tree.js"></script>
<script type="text/javascript" 
    src="/site_media/plugins/jquery.tree.contextmenu.js"></script>

<script type="text/javascript">
    function create_tree(){
	t = $('#async_tree');
	t.tree({
		data: {
		    type: "json",
		    async: true,
		    opts: {
			method: "POST",
			url: "data"
		    }
		},
		ui:{
		    dots: false,
		    animation: 100
		},
		lang:{
		    loading: "{% trans "Loading" %} ..."
		},
		plugins: {
		    contextmenu: {
			items: {
			    remove: false,
			    rename: false,
			    create: false,
			    refresh: {
				label: "{% trans "Refresh" %}",
				icon:  "refresh",
				visible: function(node, tree){ return node.hasClass('leaf') != true },
				action: function(node, tree){ tree.refresh(node) }
			    }
			}
		    }
		}
	    }
	);
    }
addLoadEvent(create_tree)
</script>

{% endblock %}

{% block content %}
	<div class="content-main">
	    <fieldset style="margin: 0px; padding: 0px; border: none">
	    <div class="inner">
		<div id="async_tree">
		</div>
	    </div>
	    </fieldset>
	</div>
{% endblock %}

