{% load i18n %}
{% load aircable %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
{% block metadata %}{% endblock %}
>

<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | AIRcable</title>
    {% block scripts %}{% endblock %}
    <style>
	{% include "bluez/styles.css" %}
        {% block style %}{% endblock %}
    </style>

</head>
<body>
    {% comment %}header{% endcomment %}
    {% box "bottomTable" %}
	<td valign="TOP" bgcolor="#E6E6E6" colspan="3">
	<div id="mainText">
	    <span class="blue"><a href="http://www.aircable.net">AIRcable</a></span> {% trans "BlueZ Interface" %}
	{% if error %}
    	    <p class="new">{% trans "There has been an error when communicating with BlueZ." %}</p>
	    <p class="new">{% trans "This could mean you have no dongles attached." %}</p>
	{% endif %}
	</div>
	</td>
    {% endbox %}

    {% comment %}"body itself"{% endcomment %}
    {% block content %}{% endblock %}
        
    {% comment %}"Footer"{% endcomment %}
    {% box "bottomTable" %}
	<td valign="TOP" bgcolor="#E6E6E6" colspan="3">
        <div ID="bottom-nav">
        {% block footer %}
    	    <p class="footer">{% trans "Thanks for using" %} <a href="http://www.aircable.net">AIRcable(c)</a> {% trans "products" %}.</p>
	{% endblock %}
	</div>
	</td>
    {% endbox %}
</body>
</html>
