<TABLE WIDTH="750" BORDER="0" ALIGN="CENTER" CELLPADDING="0" CELLSPACING="0" ID="{{ table_id }}">
	<TR>
		<TD><img src="http://www.aircable.net/images/frame-toplt-corner.jpg" width="6" height="6" alt=""></TD>
		<TD colspan="3" BACKGROUND="http://www.aircable.net/images/frame-top.jpg"><img src="http://www.aircable.net/images/spacer.gif" width="738" height="1" alt=""></TD>
		<TD><img src="http://www.aircable.net/images/frame-toprt-corner.jpg" width="6" height="6" alt=""></TD>
	</TR>
	<TR>
		<TD BACKGROUND="http://www.aircable.net/images/frame-sidelt.jpg">&nbsp;</TD>
		    {% comment %}
		    <td>hello</td>
		    {% endcomment %}
		    {{ content }}
		<TD BACKGROUND="http://www.aircable.net/images/frame-sidert.jpg">&nbsp;</TD>
	</TR>
	<TR>
		<TD><img src="http://www.aircable.net/images/frame-botlt-corner.jpg" width="6" height="6" alt=""></TD>
		<TD colspan="3" BACKGROUND="http://www.aircable.net/images/frame-bot.jpg"></TD>
		<TD><img src="http://www.aircable.net/images/frame-botrt-corner.jpg" width="6" height="6" alt=""></TD>
	</TR>
</TABLE>



