body {	background-color: #069; font-family: Arial, Helvetica, sans-serif; color: #000; }
table#mainTable { background-color: #E6E6E6; }
table td, th {  font-size: 12px; line-height: 16px; }
table td p { padding-bottom: 5px; margin: 0; }
.title { font-size: 18px; font-weight:bold; color:#006699; padding-bottom: 1em; }
.bold { font-size: 14px; font-weight:bold; }
.bluebold { font-weight: bold; color: #006699; }
.blueunder { color: #069; text-decoration: underline; }
.smalltext { font-size: 9px; }
a { color: #069; text-decoration:none; }
a:hover { text-decoration: underline; color:#003366; }
ol { margin-top: 0; padding-top: 0; }
ol li { line-height: 14px; }
table#bottomTable { margin-top: 9px; }
div#bottom-nav { font-size: 10px; text-align: center; padding: 5px 0; }
div#bottom-nav a { color: #000; }
div#bottom-nav a:hover { text-decoration:underline; }
.sectionLine { padding-left: 3px; border-top: 2px solid #E6E6E6; border-bottom: 2px solid #E6E6E6; font-size: 14px; font-weight:bold; color: #069; }
ul#highlight { padding-top: 10px; }
ul#highlight li { padding-bottom: 5px; }

/* Redefinitions */
h1 { font-size: 18px; font-weight:bold; color:#006699; margin-bottom: 1em; margin-top: .5em; }
h2 { font-size: 16px; font-weight: bold; border-bottom: 2px solid #E6E6E6; padding-top: 0.33em;margin-bottom: .5em; margin-top: .5em; }
h3 { font-size: 14px; font-weight:bold; margin-bottom: .25em; margin-top: .25em; }
h4 { padding-left: 3px; border-top: 2px solid #E6E6E6; border-bottom: 2px solid #E6E6E6; font-size: 14px; font-weight:bold; color: #069; }

/* Product Pages */
table td.productSide { padding-left: 6px; }
img.product { margin-top: 30px; margin-bottom: 4px; }
table#purchase td.productName { padding-left: 3px; background-color: #006699; font-size: 14px; font-weight:bold; color: #FFF; }
table#purchase td.price { text-align: right; font-size: 14px; font-weight: bold; vertical-align: bottom; text-align: right;}
table#purchase td.optional { border-top: 2px solid #E6E6E6; border-bottom: 2px solid #E6E6E6; font-size: 14px; font-weight:bold; }
table#purchase td.greyline { border-top: 1px solid #CCC; }
table#purchase td.ship { font-size: 10px; vertical-align: bottom; }
table#purchase td.qty { font-size: 10px; font-weight:bold; vertical-align: bottom; text-align: right; white-space: nowrap; }
.quantityField { width: 25px; font-family: Verdana; font-size: 11px; height: 19px; }
form#productForm { padding: 0; margin: 0 0 6px 0; }
div#info { font-size: 12px; line-height: 21px; margin: 6px 8px; }
div#info span.subinfo { line-height: 10px; padding-left: 10px; }
div#info p.subinfo { line-height: 10px; padding-left: 10px; }
.new { color: red; }
.indented { padding-left: 15px; }

td.prodList { padding-left: 30px; }
td.greyborder { border-top: 1px solid #CCC; }
table#price th { border-bottom: 2px solid #CCC; }
table#price td { border-bottom: 1px solid #CCC; }

table#related { background-color: #FFF; }
table#related td { padding: 2px 0 0 2px; }
table#related td.type { border-bottom: 1px solid #E6E6E6; border-top: 1px solid #999; font-weight: bold; }

/* Support pages */
.section { font-size: 16px; font-weight: bold; border-bottom: 2px solid #E6E6E6; padding-top: 0.33em;}
.emphasize { font-style:italic; font-weight: bold; }
ul { margin-top: 0; padding-top: 0; }
ul li { list-style: disc outside; line-height: 14px; }
ul.definition li { padding-bottom: 1em; }
p.apphead { padding-top: 5px; border-bottom: 2px solid #E6E6E6; font-weight: bold; font-size: 14px; }
div.code p { padding-left: 20px; padding-top: 10px; font-family:"Courier New", Courier, mono; font-size: 14px; }
div.code ul li { font-weight: bold; padding-top: 10px; }
div.code ul li ul li { font-weight: normal; font-family:"Courier New", Courier, mono; font-size: 14px; padding: 0px; }
.codetext { font-family:"Courier New", Courier, mono; font-size: 14px; }

/* Nav */
div#nav { width: auto; margin: 0; padding: 0;}
.navleft	{ float: left; position: relative; text-align: left; }
.navright	{ text-align: right; }
.navcenter {text-align: center; }
table.code td { padding-right: 20px; vertical-align: bottom; }
table.code td.excode { vertical-align: top; font-family:"Courier New", Courier, mono; font-size: 14px; }
div.printheader, div.url, div.backlink { display: none; }
table.example td { vertical-align: text-top; }
table.example td.codeblock { padding-left: 20px; width: 250px; font-family:"Courier New", Courier, mono; font-size: 14px; }
table.example span.needcom { border-bottom: 1px dashed red; }
table.example td.comment { padding-bottom: 5px; font-size: 10px; line-height: 1em; }

/*Company pages */
span.newshead { border-top: 2px solid #E6E6E6; border-bottom: 2px solid #E6E6E6; font-weight: bold; color: #006699; }
span.newsdate { font-weight: bold; font-size: 10px; color:#333333; }
div.newsdesc { padding: 0 0 0 5px; margin: 0; }
div#news {
	font-size: 10px;
	line-height: 12px;
	margin: 6px 8px;
}
div.sideMargin { font-size: 12px; line-height: 21px; margin: 6px 8px; }
div#review { line-height: 16px; margin: 6px 8px; font-style:italic; }
div#review p.reviewer { text-align: right; color: #006699; font-style: normal; font-size: 10px; line-height:normal; }
.diaglink {
	padding: 5px;
	border: 1px solid #006699;
}

div#body {
    align: left;
}
