# don't modify this file unless you know what you're doing
# you better modify you're own setup settings
[cherrypy]
cp_host = 0.0.0.0
cp_port = 8000
cp_server_name = OpenProximity
cp_daemonize = False
cp_pidfile = %(openproximity.aircable_path)s/cp_%(cherrpy.cp_port)s.pid
